*.xml
*.db

build/*

*Makefile*
#Qt
*moc_*
*ui_*
*.user
*.creator
*.includes
*.config
*.files
*.Debug
*.Release


# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Visual Strudio
*.vcproj*
*.ncb
*.sln
*.suo
*.idb
*/ui_*
*/release/*
*/debug/*

#Docs
lib/PiLibocik/doc/*
doc/*

#Compiled translation files
*.qm
