*.xml
*.db

build/*

*Makefile*
#Qt
*.user
*.creator
*.includes
*.config
*.files
*.Debug
*.Release


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Visual Strudio
*.vcproj*
*.ncb
*.sln
*.suo
*.idb
*/ui_*
*/release/*
*/debug/*

#Docs
/html/*
/latex/*
/Pilocik/html/*
/Pilocik/latex/*
/Pilocik/Doxygen*
Doxyfile*
